@import url(https://maendisease.github.io/BetterDiscordStuff/css/NormalizedForums.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);
@import url(https://dablulite.github.io/accountdetailscolumns/import.css);
/* Spotify Covers Go Wheeeee */
/* profile */
.assetsLargeImageSpotify-17ME3M {
  border-radius: 20%;
  align-items: center;
}
.assetsLargeImageSpotify-17ME3M:hover {
  animation: spin 3s infinite;
  border-radius: 50%;
  transition: 0.5s ease;
}
/*Spining Animation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  20% {
      transform: rotate(-20deg);
  }
  70% {
      transform: rotate(380deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.childWrapper-1j_1ub:hover, .wrapper-28eC3z:hover{
  border-radius: 50%;
  animation: spin 0.7s ease;
  transition: 0.5s ease;
}
